@import "tailwindcss";

body{
    background-color: #020617;
    color:white

}

@keyframes float {
    0%{
        transform:translateY(0px);

    }
    50%{
        transform:translateY(-10px);
        
    }
    100%{
        transform:translateY(0px);
        
    }
    
}
.float{
    animation:float 3s ease-in-out infinite;
}
html{
    scroll-behavior: smooth;
}